<section>
    <div class="container">
        <img src="assets/Images/icon.png" alt="logo">
        <div>
            <ul>
                <li>MENU</li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>ADDRESS</li>
                <li>Suite #913 </li>
                <li>Corporation Building</li>
                <li>Tibb Street</li>
                <li>M1 1TA</li>
            </ul>
        </div>
        <div>

            <ul>
                <li>CONTACT</li>
                <li>E: info(at)youragency.com</li>
                <li>T: +44 800 123 456</li>
                <li>Tibb Street</li>
                <li>F: +44 800 123 400</li>
            </ul>
        </div>
    </div>
</section>
